@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
  font-family: 'VT323', monospace;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#hackwell-heading {
  margin: 0;
  margin-top: 2rem;
  color: white;
  text-align: center;
  font-size: 8rem;
  font-family: "Archivo Black", sans-serif;
}

#five-o {
  font-family: 'Archivo Black', sans-serif !important;
}

.patron2,
.patron4 {
  text-align: right;
}

#hackwell-subheading {
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 4rem;
  font-family: "Archivo Black", sans-serif;
}

#flyer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

#hackwell-hours {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  color: white;
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
}

#vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.mySlides {
  display: none;
  float: left;
  position: relative;
  min-width: 100%;
}

.countSelectorSection,
.autoCheck {
  margin: 1rem;
  display: inline-block;
}

#about-hackwell-container,
#about-dept-container,
#chief-patron-container,
#patrons-container,
#contact-container,
#event-dates,
#registration-details-container,
#about-college-container,
#instructions-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 0 10% 0 10%;
}

#about-hackwell-container h2,
#about-dept-container h2,
#chief-patron-container h2,
#patrons-container h2,
#contact-container h2,
#event-dates h2,
#registration-details-container h2,
#about-college-container h2,
#instructions-container h2 {
  font-size: 3rem;
  margin: 1rem;
}

#patrons-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 2rem;
  width: 60%;
  place-content: center;
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

#about-hackwell-container p,
#about-dept-container p,
#chief-patron-container p,
#patrons-container p,
#contact-container p,
#event-dates p,
#registration-details-container p,
#about-college-container p,
#instructions-container p {
  margin: 1rem;
  font-size: 1.7rem;
  text-align: center;
}

#instructions-container {
  margin-bottom: 3rem;
}

#instructions-container p {
  text-align: left;
}

input[type="checkbox"] {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

img {
  vertical-align: middle;
  object-fit: contain;

}

.slideshow-container {
  max-width: 50%;
  position: relative;
  padding: 0;
  margin: 2rem auto 0 auto;
  border: 3px solid #000000;
  animation: glow 2s infinite linear;
}

#pagination {
  margin: 0 2rem;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0%;
  border-radius: 3px 0 0 3px;
}


.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.text {
  color: #f2f2f2;
  font-size: 2rem;
  position: absolute;
  padding: 0.2rem 0 0.4rem 0;
  bottom: 0rem;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.clear {
  clear: both;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.qr-container {
  max-width: fit-content;
  position: relative;
  padding: 0;
  margin: 2rem auto 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.qr-container h2 {
  text-decoration: none;
  font-size: 3rem;
  margin-top: 0;
}

#qr-code {
  animation: glow 2s infinite linear;
  border: 3px solid #ff00008c;
  width: 50%;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11pxs
  }
}


@keyframes glow {
  0% {
    box-shadow: 0 0 20px cyan;
  }

  25% {
    box-shadow: 0 0 20px magenta;
  }

  50% {
    box-shadow: 0 0 20px lime;
  }

  75% {
    box-shadow: 0 0 20px orange;
  }

  100% {
    box-shadow: 0 0 20px cyan;
  }
}

h2 {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.association-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px;
  margin: 3rem 0;
}

.association-container img {
  width: 20vw;
  margin-left: 2rem;
  object-fit: contain;
}

#contact-details {
  font-size: 1.7rem;
  margin-top: 2rem;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  #flow-diagram {
    width: 70%;
  }

  #flyer {
    width: 80%;
  }

  #contact-details {
    flex-direction: column;
  }

  #patrons-list {
    width: 90%;
  }

  .association-container img {
    width: 40vw;
  }

  #about-hackwell-container,
  #about-dept-container,
  #chief-patron-container,
  #patrons-container,
  #contact-container,
  #event-dates,
  #registration-details-container,
  #about-college-container,
  #instructions-container {
    padding: 0 5% 0 5%;
  }

  #hackwell-heading {
    font-size: 5rem;
  }

  #hackwell-subheading {
    font-size: 2rem;
  }

  #hackwell-hours {
    font-size: 1.5rem;
  }

  #about-hackwell-container h2,
  #about-dept-container h2,
  #chief-patron-container h2,
  #patrons-container h2,
  #contact-container h2,
  #event-dates h2,
  #registration-details-container h2,
  #about-college-container h2,
  #instructions-container h2 {
    font-size: 2rem;
  }

  .slideshow-container {
    max-width: 80%;
  }

  #about-hackwell-container p,
  #about-dept-container p,
  #chief-patron-container p,
  #patrons-container p,
  #contact-container p,
  #event-dates p,
  #registration-details-container p,
  #about-college-container p,
  #instructions-container p {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  #flyer {
    width: 80%;
  }

  #contact-details {
    flex-direction: column;
  }

  #patrons-list {
    width: 90%;
  }

  .association-container img {
    width: 40vw;
  }

  #about-hackwell-container,
  #about-dept-container,
  #chief-patron-container,
  #patrons-container,
  #contact-container,
  #event-dates,
  #registration-details-container,
  #about-college-container,
  #instructions-container {
    padding: 0 5% 0 5%;
  }

  #hackwell-heading {
    font-size: 5rem;
  }

  #hackwell-subheading {
    font-size: 2rem;
  }

  #hackwell-hours {
    font-size: 1.5rem;
  }

  #about-hackwell-container h2,
  #about-dept-container h2,
  #chief-patron-container h2,
  #patrons-container h2,
  #contact-container h2,
  #event-dates h2,
  #registration-details-container h2,
  #about-college-container h2,
  #instructions-container h2 {
    font-size: 2rem;
  }

  #about-hackwell-container p,
  #about-dept-container p,
  #chief-patron-container p,
  #patrons-container p,
  #contact-container p,
  #event-dates p,
  #about-college-container p,
  #instructions-container p {
    font-size: 1.2rem;
  }

  .association-container {
    font-size: 1rem;
  }

  #contact-details {
    font-size: 1.2rem;
  }

  .association-container img {
    width: 60vw;
  }

  .patron2,
  .patron4 {
    text-align: center;
  }

  .slideshow-container {
    max-width: 90%;
  }

  .text {
    font-size: 1rem;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  #flyer {
    width: 80%;
  }

  #hackwell-heading {
    font-size: 3rem;
  }

  #hackwell-subheading {
    font-size: 1.5rem;
  }

  #hackwell-hours {
    font-size: 1rem;
  }

  #about-hackwell-container h2,
  #about-dept-container h2,
  #chief-patron-container h2,
  #patrons-container h2,
  #contact-container h2,
  #event-dates h2,
  #registration-details-container h2,
  #about-college-container h2,
  #instructions-container h2 {
    font-size: 1.5rem;
  }

  #about-hackwell-container p,
  #about-dept-container p,
  #chief-patron-container p,
  #patrons-container p,
  #contact-container p,
  #event-dates p,
  #registration-details-container p,
  #about-college-container p,
  #instructions-container p {
    font-size: 1rem;
  }

  #patrons-list div {
    text-align: center;
  }

  .slideshow-container {
    max-width: 90%;
  }

  .text {
    font-size: 1rem;
  }

  .association-container {
    font-size: 0.8rem;
  }

  #contact-details {
    font-size: 1rem;
  }

  .association-container img {
    width: 40vw;
  }

  .patron2,
  .patron4 {
    text-align: center;
  }
}

body {
  color: #eeeeee;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
}

.podium-container {
  --_podium-size: 4px;

  @media only screen and (min-width: 600px) {
    --_podium-size: 7.5px;
  }

  @media only screen and (min-width: 960px) {
    --_podium-size: 10px;
  }

  perspective: calc(var(--_podium-size) * 50);
  margin-top: calc(var(--_podium-size) * 20);
  display: grid;
  place-items: center;
}

.podium {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  transform-style: preserve-3d;
  font-size: calc(var(--_podium-size) * 9);
  font-weight: 900;
  gap: 12px;
  transform: rotateX(-40deg);
  text-align: center;
}

.podium__front {
  background: red;
  padding-inline: calc(var(--_podium-size) * 5);
  padding-bottom: calc(var(--_podium-size) * 3);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: top;
  transition: transform 0.25s;
}

.podium__front:hover {
  transform: translate3d(0, 0, 15px);
}

.podium__center {
  transform: translate3d(0, 0, 5px);
}

.podium__center:hover {
  transform: translate3d(0, 0, 20px);
}

.podium__front::after {
  transform-style: preserve-3d;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: top;
  transform: rotatex(-90deg);
}

.podium__left::before,
.podium__right::before {
  background: #394c0c;
  background: linear-gradient(to left, #394c0c, transparent);
  transform-style: preserve-3d;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: right;
  transform: rotatey(-90deg);
}

.podium__right::before {
  background: linear-gradient(to right, #394c0c, transparent);
  transform-origin: left;
  transform: rotatey(90deg);
}

.podium__left {
  padding-top: calc(var(--_podium-size) * 3);
  background: #81ac1c;
}

.podium__left::after {
  background: #739919;
  background: linear-gradient(#739919, transparent);
}

.podium__center {
  padding-top: calc(var(--_podium-size) * 5);
  background: #90c020;
}

.podium__center::after {
  background: #81ac1c;
  background: linear-gradient(#90c020, transparent);
}

.podium__right {
  padding-top: calc(var(--_podium-size) * 1);
  background: #739919;
}

.podium__right::after {
  background: #648616;
  background: linear-gradient(#648616, transparent);
}

.podium__image {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -80%) translatez(-55px) rotatey(0);
  transform-style: preserve-3d;
  transform-origin: center;
}

.podium__image>img {
  width: calc(var(--_podium-size) * 10);
}

.podium__image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(var(--_podium-size) * 6);
  border-radius: 100%;
  filter: blur(20px);
  background: #0e1303;
  background: linear-gradient(#0e1303, transparent);
  transform: rotatex(90deg);
}

.podium__front:hover>.podium__image {
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  to {
    transform: translate(-50%, -80%) translateZ(-55px) rotateY(360deg);
  }
}

#flow-diagram {
  width: 70%;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}